<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">{{ task.title }}</h1>
    <form action="{{ url_for('routes.edit_task', task_id=task.id) }}" method="post">
        <div class="form-group">
            <label for="title">Название</label>
            <input type="text" class="form-control" id="title" name="title" value="{{ task.title }}" required>
        </div>
        <div class="form-group">
            <label for="description">Описание</label>
            <textarea class="form-control" id="description" name="description"
                      rows="3">{{ task.description }}</textarea>
        </div>
        <div class="form-group">
            <label for="status">Статус</label>
            <select class="form-control" id="status" name="status">
                <option value="to_do" {% if task.status==
                'to_do' %}selected{% endif %}>To Do</option>
                <option value="in_progress" {% if task.status==
                'in_progress' %}selected{% endif %}>In Progress</option>
                <option value="done" {% if task.status==
                'done' %}selected{% endif %}>Done</option>
            </select>
        </div>
        <div class="form-group">
            <label for="progress">Прогресс</label>
            <input type="number" class="form-control" id="progress" name="progress" min="0" max="100"
                   value="{{ task.progress }}">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <a href="{{ url_for('routes.index') }}" class="btn btn-secondary">Назад к списку</a>
    </form>
</div>
</body>
</html>
